.container {
    padding: 20px;
}

.comment {
    display: flex;
    justify-content: space-between;
}

.delete {
    cursor: pointer;
    color: rgb(158, 158, 158);
}

.disabledCommentContainer {
    padding: 5px 20px;
    color: #999999;
    border-top: 1px solid lightgray;
}

.disabledCommentContainer a {
    color: #00376b;
}

.enabledCommentContainer {
    display: flex;
    color: #999999;
    border-top: 1px solid #eeeeee;
}

.enabledCommentContainer input {
    padding: 17px 0 17px 20px;
    width: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    text-align: left;
}

.post {
    background-color: #fff;
    color: #0095f6;
}