.container {
    display: flex;
    position: fixed;
    width: 100%;
    top: 30vh;
}
.mainGif {
    z-index: 2;
    margin: auto;
    border: 1px solid rgba(0, 147, 245, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 147, 245, 0.5);
    border-radius: 50rem;
    top: 30%;
    left: 35%;
}